<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="#">
      <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      EMPRESA
  </a>
  <ul class="nav navbar-nav">
      <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Servicios</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Caracteristicas</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Planes</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">Contacto</a>
      </li>
  </ul>
</nav>